
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-3">Portal de Oficios</h1>
    <h3 class="display-4">Servicio Penitenciario de Córdoba</h3>
    <div style="height:65vh;
            background-image: url('Images/fondo.jpeg');
           /*  background-image: url('images/beautiful-cryptocurrwncy-concept.jpg'); */
            /* background-image: url('images/stock-market-chart-technology-blue-background.jpg'); */
           /*  background-image: url('images/stock-trading-workplace-background.jpg');  */
            background-size: cover;
            background-position: center;">
    </div>
</div>


